// Variables
$primary-color: #e2b500
$primary-color-transp: rgba(255, 204, 0, 0.7882352941)
$white: #fff
$dark-red: #c00000
$font-stack: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

// Mixins
=flex-center
  display: flex
  align-items: center
  justify-content: center

=transition($property)
  transition: $property 0.3s ease

// Full-screen background
.bg-image
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  background:
    image: url('../images/img1.jpg')
    size: cover
    position: center
  z-index: -1

// Spacer section
.spacer-section
  height: 200px
  width: 100%
  background-color: $white

// Global Styles
body
  font-family: $font-stack
  line-height: 1.6
  color: $white
  min-height: 100vh
  position: relative
  overflow-x: hidden
  padding-top: 0px // Add padding to prevent content from hiding behind fixed navbar

// Typography
h1, h2, h3, h4, h5, h6
  margin-bottom: 1rem

.main-title
  color: $white
  text-align: center
  font-size: 3rem
  z-index: 1
  width: auto
  height: 100vh
  margin: 0
  display: flex
  align-items: flex-end
  justify-content: center
  padding-bottom: 5rem

// Utility Classes
.text-primary
  color: $primary-color !important

.bg-primary
  background-color: $primary-color !important

// Navbar styles
.navbar
  background-color: transparent
  padding: 1.5rem 0
  position: fixed
  z-index: 1002
  width: 100%
  transition: background-color 0.3s ease, box-shadow 0.3s ease

  &.scrolled
    background-color: $white
    color: #000
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
    padding: 0.5rem 0

    .nav-link
      color: #000
      &:hover
        color: $primary-color

    .dropdown-menu
      background-color: $white

      &.parrots-menu
        background: $white
        width: 101vw
        top: 35px
        padding: 0 40px
        border-top: 1px solid $primary-color
        border-radius: 0

      .dropdown-item
        color: #000
        &:hover
          background-color: rgba(0, 0, 0, 0.1)
          color: $primary-color

    .navbar-toggler
      border-color: #000
      &-icon
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    a
        color: #000 !important

    .custom-btn
        display: inline-block
        text-decoration: none
        background-color: $primary-color
        color: $white !important
        border-radius: 5px
        padding: 8px 24px
        border: none
        font-weight: 500
        +transition(transform)
        margin-left: auto

        &:hover
          text-decoration: none
          transform: scale(1.05)
          color: $white

  .navbar-collapse
    display: flex
    justify-content: space-between
    @media (min-width: 768px)
      width: 100%
      padding: 0 2rem
      position: relative

  .navbar-nav
    display: flex
    justify-content: center
    @media (min-width: 768px)
      position: absolute
      left: 50%
      transform: translateX(-50%)
      width: auto
      margin: 0 auto

    &:last-child
      @media (min-width: 768px)
        position: relative
        transform: none
        left: auto
        margin-left: auto

    .nav-link
      color: $white
      font-weight: 500
      margin: 0 1rem
      +transition(color)
      font-size: 1.1rem

      &:hover
        color: $primary-color

      .nav-chevron
        margin-left: 0.3rem
        +transition(transform)
        display: inline-block

    .nav-item.dropdown
      &.show .nav-chevron
        transform: rotate(180deg)

    .dropdown-menu
      position: fixed
      border: none
      background-color: transparent
      padding: 0.5rem
      display: flex
      min-width: 300px
      +transition(all)
      border-radius: 8px
      left: 1rem
      margin-top: 1rem
      width: 100vw
      margin-left: calc(-50vw + 50%)
      margin-right: calc(-50vw + 50%)

    .dropdown.show
      .dropdown-menu
        opacity: 1;
        visibility: visible;
        left: 0;
        padding: 0 40px

    .dropdown-item
        color: $white
        padding: 0.7rem 1.2rem
        +transition(background-color)

        &:hover
          background-color: rgba($white, 0.2)
          color: $white

  .logo-circle
    background-color: $primary-color
    border-radius: 50%
    width: 40px
    height: 40px
    +flex-center
    +transition(transform)
    position: relative
    z-index: 1003
    @media (min-width: 768px)
      margin-left: 1rem

    &:hover
      transform: scale(1.1)

    svg
      fill: $dark-red
      width: 24px
      height: 24px

  &-toggler
    border-color: $white

    &-icon
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

// Mobile Menu Button
.mobile-menu-btn
  display: none
  background: none
  border: none
  padding: 0
  cursor: pointer
  z-index: 1001

  span
    display: block
    width: 55px
    height: 4px
    border-radius: 3px
    background-color: $primary-color
    margin: 6px 0
    +transition(all)

// Mobile Menu
.mobile-menu
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 0
  background-color: $white
  overflow: hidden
  +transition(height)
  z-index: 999

  &.active
    height: 100vh

.mobile-menu-content
  padding: 100px 20px 20px
  text-align: center

.mobile-nav, .mobile-submenu
  list-style: none
  padding: 0
  margin: 0
  +transition(transform)

  .mobile-btn
    text-align: left
  .bi-chevron-right
    float: inline-end
    font-size: 25px

.mobile-nav
  li
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)

    &:last-child
      border-bottom: none

    a
      display: block
      padding: 20px
      color: #000
      text-decoration: none
      font-size: 1.2rem
      +transition(color)

      &:hover
        color: $primary-color

    &:last-child
      a
        display: inline-block
        background-color: $primary-color
        color: $white
        border-radius: 5px
        padding: 12px 24px
        margin: 20px 0

        &:hover
          color: $white

.mobile-submenu
  position: absolute
  top: 0
  left: 100%
  width: 100%
  height: 100%
  background-color: $white
  +transition(transform)
  padding-top: 80px

  li
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)

    &:last-child
      border-bottom: none

    a
      display: block
      padding: 20px
      color: #000
      text-decoration: none
      font-size: 1.2rem
      +transition(color)

      &:hover
        color: $primary-color

    &:last-child
      a
        display: inline-block
        background-color: $primary-color
        color: $white
        border-radius: 5px
        padding: 12px 24px
        margin: 20px 0

        &:hover
          color: $white

  &.active
    transform: translateX(-100%)

.back-button
  padding: 20px
  color: #000
  cursor: pointer
  display: flex
  align-items: center
  justify-content: left
  font-size: 25px

  i
    margin-right: 10px

@media (max-width: 991.98px)
  .mobile-menu-btn
    display: flex
    flex-direction: column

    &.active
      span
        &:nth-child(1)
          transform: rotate(45deg) translate(11px, 11px)
        &:nth-child(2)
          opacity: 0
        &:nth-child(3)
          transform: rotate(-45deg) translate(11px, -11px)

// Custom Button style
.card-btn
    display: table !important

.custom-btn
    display: inline-block
    text-decoration: none
    background-color: $primary-color
    color: $white !important
    border-radius: 5px
    padding: 8px 24px
    border: none
    font-weight: 500
    +transition(transform)
    @media (min-width: 768px)
      margin-right: 1rem

    &:hover
      text-decoration: none
      transform: scale(1.05)
      color: $white

// Sections
section
  width: 100%

// Media Queries
@media (max-width: 991.98px)
  .navbar .navbar-collapse
    text-align: center
    margin-top: 1rem

@media (max-width: 767.98px)
  .text-center-mobile
    text-align: center !important
    margin-bottom: 1rem

    &:last-child
      margin-bottom: 0

.white-section
  background-color: $white
  color: #000
  text-align: center
  padding: 4rem 

  .container
    margin: 5rem auto

  h2
    font-size: 2.5rem
    margin-bottom: 2rem

  .lorem-text
    line-height: 1.8
    font-size: 1.1rem

.ships-section, .parrots-section
  @media (min-width: 768px)
    background-size: cover
    background-position: center
    padding: 6rem 0
    position: relative
    min-height: 400px

.ships-section
  @media (min-width: 768px)
    background-image: url('../images/ships.jpg')
  @media (max-width: 767.98px)
    display: flex
    flex-direction: column
    &::before
      content: ''
      background-image: url('../images/ships.jpg')
      background-size: cover
      background-position: center
      min-height: 300px
      width: 100%

.parrots-section
  @media (min-width: 768px)
    background-image: url('../images/parrots.webp')
  @media (max-width: 767.98px)
    display: flex
    flex-direction: column
    &::before
      content: ''
      background-image: url('../images/parrots.webp')
      background-size: cover
      background-position: center
      min-height: 300px
      width: 100%

.section-style
  position: relative
  min-height: 400px
  text-align: center

  .content-box
    background-color: $primary-color-transp
    color: #000
    @media (min-width: 768px)
      min-height: 400px !important
      padding: 6rem
    @media (max-width: 767.98px)
      min-height: auto !important
      padding: 4rem
      margin: 0
      width: 100vw
      position: relative
      left: 50%
      right: 50%
      margin-left: -50vw
      margin-right: -50vw
      .container
        padding: 0 2rem

    h2
      font-size: 2rem
      margin-bottom: 1.5rem
      color: #000

    p
      line-height: 1.6
      margin-bottom: 0

.events-section
    color: #000

    .events-container
        position: relative
        padding: 0 20px

        .swiper-pagination
            position: relative
            margin-top: 20px
            .swiper-pagination-bullet
                width: 10px
                height: 10px
                background-color: #ccc
                opacity: 1
                &-active
                    background-color: $primary-color

        .events-swiper
            .swiper-slide
                height: auto
                .card
                    height: 100%
                    margin-bottom: 0


.timeline-section
    background-color: #f5f5f5
    color: #000

    h2
        font-size: 2.5rem
        margin-bottom: 2rem

    .timeline-row
        position: relative
        padding: 2rem 0

        // Horizontal dashed line for desktop
        @media (min-width: 768px)
            &::before
                content: ''
                width: 80%
                position: absolute
                top: 50%
                left: 10%
                right: 10%
                border-top: 3px dashed #ccc
                z-index: 1

        // Vertical dashed line for mobile
        @media (max-width: 767.98px)
            &::before
                content: ''
                position: absolute
                top: 0
                bottom: 0
                left: 50%
                border-left: 3px dashed #ccc
                z-index: 1

    .timeline-circle
        background-color: $primary-color
        width: 80px
        height: 80px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        font-size: 2rem
        font-weight: bold
        color: $dark-red
        position: relative
        z-index: 2

// Footer Logo
.footer-logo
    background-color: $primary-color
    border-radius: 50%
    width: 40px
    height: 40px
    +flex-center
    +transition(transform)

    &:hover
        transform: scale(1.1)

    svg
        fill: $dark-red
        width: 24px
        height: 24px
